{% extends "layout.html" %}

{% block title %}
    Stock Price
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ price.symbol}}</td>
            <td>{{ price.name }}</td>
            <td>{{ price.price }}</td>
          </tr>
        </tbody>
      </table>
{% endblock %}