{% extends "layout.html" %}

{% block title %}
    Stock Price
{% endblock %}

{% block main %}
<h2>Current Price of {{ stock_info.symbol }} per Share</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ stock_info.symbol}}</td>
            <td>{{ stock_info.name }}</td>
            <td>{{ price }}</td>
            <td>
              <form action="/buy" method="get">
              <button class="btn btn-primary"  type="submit">Buy</button>
          </form></td>
          </tr>
        </tbody>
      </table>
{% endblock %}